* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
}
.v2008_12849 {
    width: 557px;
    height: 351px;
    background: url("../images/v2008_12849.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.v2008_12850 {
    width: 479px;
    height: 283px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 67px;
    left: 78px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    overflow: hidden;
}
.v2008_12851 {
    width: 83px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 124px;
    left: 192px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.v2008_12852 {
    width: 83px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 232px;
    left: 192px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.v2008_12853 {
    width: 83px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 195px;
    left: 192px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.v2008_12854 {
    width: 139px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 159px;
    left: 192px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.v2008_12855 {
    width: 250px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 124px;
    left: 286px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.v2008_12856 {
    width: 55px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 232px;
    left: 287px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.v2008_12857 {
    width: 113px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 194px;
    left: 286px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.v2008_12858 {
    width: 69px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 159px;
    left: 286px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.v2008_12903 {
    width: 363px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 74px;
    left: 191px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 25px;
    opacity: 1;
    text-align: left;
}
.v2008_12904 {
    width: 175px;
    height: 175px;
    background: url("../images/v2008_12904.png");
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 50%;
}
.v2008_12861 {
    width: 102px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 305px;
    left: 456px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
body, .card{
    background: #363636;
}
.card{
    border-radius: 20%;
}
p{
    color: #dddddd;
}
.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 150px;
    margin: 5px;
}


img.hover-shadow {
    transition: 0.3s;
    border-radius: 50%;
    width: 150px;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}