* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
}
.name {
    color: #fff;
}
body, .card{
    background: #363636;
}
#ticket_card{
    border-radius: 10%;
}

p{
    color: #dddddd;
}
.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 150px;
    margin: 5px;
}


img.hover-shadow {
    transition: 0.3s;
    border-radius: 50%;
    width: 150px;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#ticket_image{
    width: 50%;
    height: 50%;
    border-radius: 50%;
}

#ticket_text>li{
    color: #fff;
    margin-top: 10px;
    background-color: #363636;
    border-style: hidden;
}

@media all and (min-width: 992px) {
    .dropdown-menu li{ position: relative; 	}
    .nav-item .submenu{
        display: none;
        position: absolute;
        left:100%; top:-7px;
    }
    .nav-item .submenu-left{
        right:100%; left:auto;
    }
    .dropdown-menu > li:hover{ background-color: #f1f1f1 }
    .dropdown-menu > li:hover > .submenu{ display: block; }
}

