
body {
    font-size: 1rem;
    background-color: #ffffff;
}

.container1 {
    margin-top: 20px;
}

#error-msg {
    color: red;
    float: right;
    font-size: 0.8rem;
}

#update-msg {
    color: limegreen;
    padding: 30px;
    font-size: 1.2rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

input[type=text] {
    border: none;
    padding: 0;
    width: 100%;
}