.bg-mynav {
    background-color: #BAC127;
}

body {
    font-size: 1rem;
    background-color: #ffffff;
}

.container {
    margin-top: 20px;
}

#error-msg {
    color: red;
    float: right;
    font-size: 0.8rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

#mytable td[name='content'] {
    /* CSS styles go here */
    writing-mode: vertical-lr;
    text-orientation: upright;
    background-color: #BAC127;
}


td {
    padding: 10px;
    border: 1px solid #ddd;
}

input[type=text] {
    border: none;
    padding: 0;
    width: 100%;
}