/* Style buttons */
.btn {
    background-color: #BAC127;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    float: right;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #3D1A78;
    color: white;
}

#invoiceDownload {
    color: white;
}