

.btn-primary
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #0066CC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 0.5em;
}
#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    min-width: 25%;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 2em;
}
.card-body
{
    background: #9EBAD9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    width: 100%;
}
@media only screen and (max-width: 768px) {
    #instafeed {
        flex-direction: column;
    }

    #instafeed img {
        max-height: 300px;
    }
}

@media only screen and (max-width: 480px) {
    #instafeed img {
        max-height: 150px;
    }

}
    @media screen and (max-width: 500px) {
        .card {
            width: 100%;
        }
    }
